#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ymdm
GenericName=Music Download Manager
Comment=YouTube Music Download Manager
Exec=ymdm-gtk
Icon=ymdm
Terminal=false
Type=Application
Categories=Audio;Music;Network;
Keywords=youtube;music;download;playlist;
StartupNotify=true
